*{
    margin: 0;
    padding: 0;
    list-style: none;
    font-style: normal;
    font-family: "Microsoft YaHei", Verdana, Arial, sans-serif, "Times New Roman";
    -webkit-touch-callout:none;  /*系统默认菜单被禁用*/
    -webkit-user-select:none; /*webkit浏览器*/
    -khtml-user-select:none; /*早期浏览器*/
    -moz-user-select:none;/*火狐*/
    -ms-user-select:none; /*IE10*/
    user-select:none;
}
body{
    background-color:  #FDFDFD;
    height: 100%;
}
header{
    background-color: #FFFFFF;
    height: 1.4rem;
    padding:0 0.6rem;
    line-height: 1.4rem;
    border-bottom: 1px solid #ccc;
}
header span:nth-child(1){
    float: left;
    color: #ff690a;
}
header span:nth-child(2){
    float: right;
}
article{
    overflow: hidden;
    height: 100%;
    background-color: #FDFDFD;
}
article p{
    text-align: center;
    line-height: 2.8rem;
    font-size: 14pt;
}
.amount{
    overflow: hidden;
    width: 90%;
    padding: 0.2rem;
    margin: 0 auto;
    border: 1px solid #ff690a;
    border-radius: 5px;
    background-color: #FFFFFF;
}
.amount input{
    width: 15%;
    border:none;
    outline: none;
    font-size: 14pt;
    height: 2.4rem;
}
.amount div{
    margin-top: 7px;
    float: right;
    width: 10rem;
    font-family: Verdana;
    text-align: right;
    height: 1.8rem;
    line-height: 1.8rem;
    font-size: 34px;;
}
.amount span{
    float: right;
}
.pric span{
    width: 1px;display: block;
    height: 40px;
}
.cursor{
    width: 1px;
    display: none ;
    /*border-left: 1px solid;*/
}
.yh{
    width: 90%;
    margin: 0 auto;
    text-align: right;
}
.yh span{
    font-size: 16px;
    float: left;
}
.yh #yhq{
    line-height: 1.6rem;
    width: 10rem;
    float: left;
    font-size: 12pt;
    text-align: right;
    height: 1.6rem;
}
.yh{
    border: 1px solid #cccccc;
    background-color: #FFFFFF;
    padding: 0.2rem;
    margin-top: 0.8rem;
    border-radius: 5px;
}
.yhq{
    padding: 0 0.4rem;
    height: 1.6rem;
    line-height: 1.6rem;
    background: url("../image/jt.png") no-repeat right;
    background-size: 4%;
    border-bottom: 1px solid #ccc;
}
.vip{
    padding: 0 0.8rem 0 0.4rem;
    text-align: right;
    height: 1.6rem;
    line-height: 1.6rem;
    background: url("../image/jt.png") no-repeat right;
    background-size: 4%;
}
.vip span{
    float: left;
}
.keyboard{
    background-color: #FFFFFF;
    position: fixed;
    bottom: 0;
    overflow: hidden;
    border-top: 1px solid #e9dede;
}
.number{
    float: left;
    width:76%;
    overflow: hidden;

}
.number button{
    float: left;
    width: 3.8rem;
    background-color: #FFFFFF;
    color: #4D4E51;
    font-family: "Microsoft YaHei", Verdana, Arial, sans-serif, "Times New Roman";
    font-family: Verdana;
    font-size: 32px;
    border: none;
    height: 2.6rem;
    display: block;
    outline: none;
    border-bottom: 1px solid #e9dede;
    border-right: 1px solid #e9dede;
}
.function{
    float: right;
    width: 24%;

}
.function button{
    display: block;
    outline: none;
    border: none;
    -webkit-appearance: none;
    background: url("../image/delete.png") no-repeat center;
    background-color: #FFFFFF;
    height: 2.6rem;
    text-align: center;
    line-height: 2rem;
    font-size: 18px;
    width: 100%;
}
.function a{
    display: block;
    line-height: 1.2rem;
    text-align: center;
    font-size: 16pt;
    text-decoration: none;
    width: 100%;
    height:5.8rem;
    padding-top: 2rem;
    color: #FFFFFF;
    /*font-family: Impact;*/
    background-color: #FF6636;

}
.mask{
    z-index: 1;
    width: 100%;
    height: 100%;
    position: fixed;
    top:0;
    background-color:rgba(71, 71, 71, 0.63);
    display: none;
}
.coupon{
    width: 90%;
    position: absolute;
    top: 35%;
    margin:0 auto;
    left: 30%;
    margin-left: -25%;
    margin-top: -25%;

    background-color: #FFFFFF;
    height: 8rem;
}

.coupon .title{
    text-align: center;
    font-size: 16px;
    line-height: 2rem;
    border-bottom: 1px solid #cccccc;
}
.coupon ul{
    background-color: #FFFFFF;
    height: 12.2rem;
    overflow: auto;
}
.coupon  li{
    height: 2rem;
    padding: 0.2rem 0.8rem;
    line-height: 2rem;
    border-bottom: 1px solid #cccccc;
    overflow: hidden;
}
.coupon_con{
    float: left;
    line-height: 1rem;
    display: block;
    font-size: 16px;
}
.coupon_con i{
    display: block;
    font-size: 12px;
}
.coupon_pric{
    float: right;
    color: #FF6636;
    font-size: 12pt;
}
.style_bac1{
  color: #b7b6ba;
}
.style_bac2{
   color: #000;
}
.coupon_pric1{
    color: #b7b6ba;
    text-decoration: line-through;/*横线*/
}
.coupon_pric2{
    color: #FF6636;
    text-decoration: none;
}
#price{
    width: 3.6rem;
    display: block;
    vertical-align: middle;
    word-wrap:break-word;
}
/*.liys{}*/

@media (min-height:480px) and (max-height:600px)  {
    header {
        height: 1.4rem;
        font-size: 12px;
        padding: 0 0.4rem;
        line-height: 1.4rem;
        border-bottom: 1px solid #ccc;
    }
    article p {
        text-align: center;
        line-height: 2.4rem;
        font-size: 12pt;
    }
    .yh span {
        font-size: 14px;
        float: left;
    }
    .number button {
        float: left;
        width: 3.8rem;
        background-color: #FFFFFF;
        color: #4D4E51;
        font-family: "Microsoft YaHei", Verdana, Arial, sans-serif, "Times New Roman";
        font-family: Verdana;
        font-size: 28px;
        border: none;
        height: 2.2rem;
        display: block;
        outline: none;
        border-bottom: 1px solid #e9dede;
        border-right: 1px solid #e9dede;
    }
    .amount input {
        width: 15%;
        border: none;
        outline: none;
        font-size: 14pt;
        height: 2rem;
    }
    .amount div {
        margin-top: 7px;
        float: right;
        width: 10rem;
        font-family: Verdana;
        text-align: right;
        height: 1.6rem;
        line-height: 1.8rem;
        font-size: 28px;
    }
    .function button {
        display: block;
        outline: none;
        border: none;
        -webkit-appearance: none;
        background: url(../image/delete.png) no-repeat center;
        background-color: #FFFFFF;
        height: 2.2rem;
        text-align: center;
        line-height: 2rem;
        font-size: 18px;
        width: 100%;
    }
    .function a {
        display: block;
        line-height: 1rem;
        text-align: center;
        font-size: 18px;
        text-decoration: none;
        width: 100%;
        height: 4.6rem;
        padding-top: 2rem;
        color: #FFFFFF;
        /* font-family: Impact; */
        background-color: #FF6636;
    }

}
