<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width,height=device-height, user-scalable=no,initial-scale=1, minimum-scale=1, maximum-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="x5-fullscreen" content="true">
    <meta name="full-screen" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <link rel="stylesheet" href="css/payment.css"/>
    <title>扫码支付</title>
</head>
<script src="js/jquery-1.8.3.min.js"></script>
<script src="js/rem.js"></script>
<script src="js/vue.js"></script>
<script src="js/fastclick.js"></script>
<script src="js/clipboard.min.js"></script>
<script>
    $(function() {
        FastClick.attach(document.body);
    });
</script>
<body id="by">
<div id="app">
    <header v-if="userinfo.level">
        <span>{{level.level_name}}({{level.discount}}折)</span>
        <span>充值余额:￥{{userinfo.amount}}</span>
    </header>
<article>
    <p>{{userinfo.shopinfo}}</p>
    <div>
        <form action="" method="get">
            <div class="amount">
                <input  type="text" class="mrn" maxlength="10" placeholder="金额" readOnly="true"  onfocus="this.blur()"/>
                <div class="pric">￥<i class="price" >{{price}}</i><span><i class="cursor ">|</i></span></div>
                <span>随机立减</span>
            </div>
            <div class="yh" v-if="userinfo.couponlist || userinfo.vip">
                <div class="yhq" v-if="userinfo.couponlist" v-on:click="yhq">
                   <span>优惠券</span> <p id="yhq" >{{coupon_pric}}</p>
                </div>
                <div class="vip" v-if="userinfo.vip"><span>VIP</span>本店支持会员充值 </div>
            </div>

            <div class="keyboard">
                <div class="number">
                    <button type="button" v-on:click="button('1')">1</button>
                    <button type="button" v-on:click="button('2')">2</button>
                    <button type="button" v-on:click="button('3')">3</button>
                    <button type="button" v-on:click="button('4')">4</button>
                    <button type="button" v-on:click="button('5')">5</button>
                    <button type="button" v-on:click="button('6')">6</button>
                    <button type="button" v-on:click="button('7')">7</button>
                    <button type="button" v-on:click="button('8')">8</button>
                    <button type="button" v-on:click="button('9')">9</button>
                    <button type="button" v-on:click="button('00')">00</button>
                    <button type="button" v-on:click="button('0')">0</button>
                    <button type="button" v-on:click="button('.')">.</button>
                </div>
                <div class="function">
                    <button class="delete" type="button" v-on:click="delet"></button>
                    <a class="payment" href="javascript:;" v-on:click="payment">{{payment_text}}<br/>{{total}}元</a>
                </div>
            </div>
        </form>
    </div>
</article>

<div class="mask" id="masking">
    <div class="coupon">
        <p class="title">选择优惠券</p>
        <ul>
            <li v-bind:class="{ style_bac1: isActive, 'style_bac2':price>=coups.condition}" v-for="(coups,index) in userinfo.couponlist" :data-id="coups.id" v-on:click="coupon(coups.condition,coups.price,price>=coups.condition,index)">
               <span class="coupon_con">
                   {{coups.name}}优惠券
                   <i>满￥{{coups.condition}}可用</i>
               </span>
                <i class=" coupon_pric" v-bind:class="{ coupon_pric1: isActive, 'coupon_pric2':price>=coups.condition}">￥{{coups.price}}</i>
                <!--<i class="coupon_pric">￥{{coups.price}}</i>-->
            </li>
        </ul>
    </div>
</div>
</div>
<script>
  
    var app = new Vue({
        el: '#app',
        data: {
            userinfo:[],
            level:[],
            price:"0",
            balance:0,
            condition:0,
            isActive: true,
            couponlist:[],
            coupon_pric:"",
            coupon_price:0,
            Coupon:null,
            payment_text:"支付"
        },
        computed:{
            total:function(){
                var total;
                var temp_price = parseFloat(this.price);
                if(this.level!=undefined){
                    if(this.price>=this.condition){
                        total=(temp_price*this.level.discount/10-this.coupon_price).toFixed(2);
                    }else{
                        total=(temp_price*this.level.discount/10).toFixed(2);
                    }
                }else{
                    if(this.price>=this.condition){
                        total=(temp_price-this.coupon_price).toFixed(2);
                    }else{
                        total=(temp_price).toFixed(2);
                    }
                }
              return  total;
            },
        },
        // doem事件在 `methods` 对象中定义方法
        methods: {
            aymentp:function(){
                if(this.Coupon!=null){
                    var current_coupon = this.couponlist[this.Coupon];
                    console.log(this.Coupon);
                    if(this.price>=current_coupon.condition){
                        this.coupon_pric = "-￥"+current_coupon.price;
                    }else{
                        this.coupon_pric="";
                        this.coupon_price=0;
                        this.Coupon=null;
                    }
                }

            },
            //点击数字键
            button:function(number){
                var re = /.*\..*/;
                var reg=/^[1-9]{1}\d*(\.\d{1,2})?$/;
                var price = $(".price").text();
                var current =number;
                if(this.price.length>10){
                   return false;
                }
                if(this.price=='0'){
                    if(current == '0' || current == '00'){
                        console.log(123)
                        return;
                    }
                    if(current == '.'){
                        this.price+=current;
                    }else{
                        this.price=current;
                    }
                }else if(re.test(this.price) && current == '.'){
                    console.log(1)
                    return;
                }else if(reg.test(this.price)&&re.test(this.price)&&this.price.toString().split(".")[1].length==2){
                   return;
                }else{
                    this.price+=current;
                }
            },
            //删除功能键
            delet:function(){
                var str= this.price;
                var newstr=str.substring(0,str.length-1);
                if(newstr == ''){
                    newstr = '0';
                }
                this.price=newstr;
                this.aymentp()
            },
            //点击优惠券打开优惠券弹窗
            yhq:function(){
                $("#masking").show()
                stopTimer();
                $(".cursor").hide();
            },
            //优惠券选择
            coupon:function(condition,price,state,index){
                if(state==true){
                    this.coupon_pric="-￥"+price;
//                    $("#yhq").html("-￥"+price);
                    this.coupon_price=price;
                    this.Coupon=index;
                    this.condition=condition;
                }
            },
            // 支付按钮
            payment:function(){
                var price=parseInt(this.total);
                console.log(typeof  price)
                var amount=this.userinfo.amount;
                if(this.price==0){
                    alert("输入金额必须大于0")
                }
                if(this.price<=amount){
                    console.log(amount-price);

                    this.price="0";
                }
                else{
                    this.price="0";
                }
            },
        }
    });

    $.getJSON('js/user.json', function(res){
        app.userinfo=res[0].user[0];
        app.level=res[0].user[0].level;
        app.couponlist=res[0].user[0].couponlist;
    });
    //光标闪烁动画
    var twinkle;
        twinkle=setInterval(function(){
            $(".cursor").toggle()
        },900);
    function stopTimer()
    {
       clearInterval(twinkle);
    }
    $(".amount").click(function(){
        $(".cursor").css("display","block");
        twinkle=setInterval(function(){
            $(".cursor").toggle();
        },900);

    });
    //    点击内容以外隐藏优惠券
    $("#masking").click(function(e){
            var oDragHandle = document.getElementById&&document.all ? event.srcElement : e.target;
            if(oDragHandle.id =="masking"){
                $(this).hide();
            }
        });
    $("#by").click(function(e){
        clearInterval(twinkle);
        $(".cursor").css("display","none");
    });
    //点击优惠券
    $(".coupon").on("click","li",function(){
        $("#masking").hide();
        $(this).siblings('li').removeClass('liys');
        $(this).addClass("liys");
    });
      var clipboard = new Clipboard('.amount', {
        // 点击copy按钮，直接通过text直接返回复印的内容
        text: function() {
            return 'to sdasdasdasdbe or not to be';
        }
    });

    clipboard.on('success', function(e) {
        console.log(e);
    });

    clipboard.on('error', function(e) {
        console.log(e);
    });
</script>
</body>
<script>

</script>
</html>
